<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
</head>
<body>
    <h2>Log in as an admin</h2>

    <form action="/AdminInfo" method="post">
        <input type="text" name="adminID" placeholder="username" required>
        <input type="text" name="adminPW" placeholder="password" required>
        <button type="submit">Login</button>
    </form>
</body>
</html>