head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  link(rel='icon' href='/docs/4.0/assets/img/favicons/favicon.ico')
  title Admin Login
  link(rel='canonical' href='https://getbootstrap.com/docs/4.0/examples/sign-in/')
  // Bootstrap core CSS
  link(href='../../dist/css/bootstrap.min.css' rel='stylesheet')
  // Custom styles for this template
  link(href='signin.css' rel='stylesheet')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
h2 Submit a Lost Item
form.form-signin(style='max-width:400px; margin:auto' action='/submitItem' method='POST')
  .form-group
    label(for='') Item name:
    input.form-control(type='text' name='itemName')
  .form-group
    label(for='') Name of person who found item:
    input.form-control(type='text' name='personFound')
  .form-group
    label(for='email') AU ID:
    input.form-control(type='text' name='userID')
  .form-group
    label(for='email') Phone:
    input.form-control(type='text' name='phoneNum')
  .form-group
    label(for='') Date:
    input.form-control(type='date' name='dateFound')
  .form-group
    label(for='') Time:
    input.form-control(type='time' name='timeFound')
  .form-group
    label(for='') Describe the item:
    textarea(cols='54' rows='4' name='description')
  .form-group
    label(for='') Location Found:
    input.form-control(type='text' name='locationFound')
  .form-group
    label(for='') Location Details:
    textarea(cols='54' rows='4' name='locationDetails')
  .form-group
    label(for='') Item value:
    input.form-control(type='text' name='itemValue')
  button.btn.btn-lg.btn-primary(type='submit') Add Item
a(href='adminTable')
  button.btn.btn-lg.btn-primary Go Back